.subMatchingDishContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  padding: 15px 0;
}

.singleImg {
  width: 192px;
  height: 150px;
  padding: 10px 20px;
  background: #fff;
}

.singleImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.singleName {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 150px;
  text-align: center;
}

.category {
  color: #b2b2b2;
  font-weight: 500;
}
.name {
  color: #737373;
  font-size: 18px;
}

.listIngredients {
  width: 150px;
}

.listIngredients ul {
  padding: 0;
  padding-left: 25px;
  margin-bottom: 0;
}

.preparation {
  display: flex;

  flex-direction: column;
  width: 350px;
}

.preparation .titlePreparation {
  font-weight: 600;
}

.preparation .textPreparation {
  font-size: 14px;
  color: #737373;
}

.btnView {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  background: none;
  padding: 8px 10px;
  border-radius: 5px;
  margin: auto;
  gap: 5px;
  transition: 0.3s;
  font-size: 14px;
  font-weight: bold;
}

.btnView {
  border: 1px solid #0085ff;
  color: #0085ff;
}

.btnView:hover {
  background-color: #e3f2ff;
}

.emptyMatching {
  display: flex;
  align-items: center;
  justify-content: center;
}
