.navbarContainer {
  box-shadow: 5px 5px 5px rgb(179, 179, 179);
  height: 75px;
  position: fixed;
  width: 100%;
  background: #fff;
  z-index: 1;
}

.subNavbarContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: var(--padding-left-container);
  padding-right: var(--padding-right-container);
  margin: auto;
  max-width: var(--max-width-container);
}

.logo {
  height: 35px;
}
.logo img {
  height: 100%;
}

.opcionesNavbar {
  display: flex;
  align-items: center;
}
.opcionesNavbar ul {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 0;
  padding: 0;
}
.opcionesNavbar ul li {
  list-style: none;
  cursor: pointer;
}

.buttonNav {
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  background-color: #fff;
}

.linkNav {
  color: #fff;
  background-color: #f24726;
  border-radius: 5px;
  padding: 8px 10px;
}
.linkNav:hover {
  color: #fff;
}

.loginBtn {
  outline: none;
  border: none;
  background-color: #0085ff;
  padding: 8px 10px;
  color: #fff;
  border-radius: 5px;
}
