.formulario {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.cont_input,
.btnSubmitForm {
  height: 2.7rem;
  /* margin-bottom: 30px;
    height: 2rem; */
}

.formulario .form__input {
  outline: none;
  height: 100%;
  width: 300px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border: 2px solid #e2e2e2;
  border-right: none;
  padding: 0.7rem 1.25rem;
  color: #1f1f1f;
  font-size: 16px;
  transition: 0.2s;
}
.form__label {
  position: absolute;
  left: 1rem;
  top: 0.64rem;
  user-select: none;
  padding: 0 0.38rem;
  pointer-events: none;
  color: gray;
  font-size: 16px;
  /* transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in; */
  transition: 0.2s ease-in;
  background-color: #fff;
}

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
  top: -0.6rem;
  font-size: 14px;
  left: 8px;
  background: #fff;
  padding: 0 0.5rem;
}

.btnSubmitForm {
  display: flex;
  align-items: center;
  font-weight: 500;
  border: none;
  cursor: pointer;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  color: #fff;
  transition: 0.3s ease all;
}

.btnSubmitForm {
  border: 2px solid #0085ff;
  padding: 0.7rem;
  background: #0085ff;
}
