.ratingContainer {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.searchContainer {
  position: relative;
}
.formulario {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cont_input {
  position: relative;
  height: 40px;
  display: flex;
  align-items: center;
}
.form__input {
  border: none;
  outline: none;
  background: #f2f2f2;
  height: 100%;
  width: 100%;
  padding: 10px;
  padding-left: 45px;

  border-radius: 8px;
}
.iconContent {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  position: absolute;
}
.resultsContent {
  position: absolute;
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 2px 3px 8px -1px #86868699;
  -webkit-box-shadow: 2px 3px 8px -1px #86868699;
  -moz-box-shadow: 2px px 8px -1px #86868699;
}
/* .cont_input,
.btnSubmitForm {
  height: 2.7rem;
}
.cont_input {
  position: relative;
  width: 100%;
}

.cont_input .form__input {
  outline: none;
  height: 100%;
  width: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border: 2px solid #e2e2e2;
  border-right: none;
  padding: 0.7rem 1.25rem;
  color: #1f1f1f;
  font-size: 16px;
  transition: 0.2s;
}
.form__label {
  position: absolute;
  left: 1rem;
  top: 0.64rem;
  user-select: none;
  padding: 0 0.38rem;
  pointer-events: none;
  color: gray;
  font-size: 16px;
  transition: 0.2s ease-in;
  background-color: #fff;
}

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
  top: -0.6rem;
  font-size: 14px;
  left: 8px;
  background: #fff;
  padding: 0 0.5rem;
}

.btnSubmitForm {
  display: flex;
  align-items: center;
  font-weight: 500;
  border: none;
  cursor: pointer;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  color: #fff;
  transition: 0.3s ease all;
}

.btnSubmitForm {
  border: 2px solid #0085ff;
  padding: 0.7rem;
  background: #0085ff;
} */

/* @media (max-width: 960px) {
  .cont_input .form__input {
    width: 230px;
  }
}
 */
