.singleImg {
  max-width: 192px;

  padding: 10px 20px;
  background: #fff;
}

.singleImg img {
  width: 100%;

  object-fit: cover;
  border-radius: 5px;
}

.singlePaymentContent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  padding: 15px 0;
}

.singleName {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 150px;
  text-align: center;
}
.amount,
.date {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.category,
.title {
  color: #b2b2b2;
  font-weight: 500;
}
.name {
  color: #737373;
  font-size: 18px;
}

.btnView {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  background: none;
  padding: 8px 10px;
  border-radius: 5px;

  gap: 5px;
  transition: 0.3s;
  font-size: 14px;
  font-weight: bold;
}

.btnView {
  border: 1px solid #0085ff;
  color: #0085ff;
}

.btnView:hover {
  background-color: #e3f2ff;
}
